@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light-blue: #E9E1FF;
  --border: #D9D9D9;
  --primary: #0D3A66;
  --accent: #7CCC56;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: poppins;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
}